header-h1 {
    padding: 40px;
    font-size: 100px;
    color:rgb(185, 127, 40);
    font:oblique;
}
header {
    text-align: center;
    margin: 0;
    padding: 0px;
    padding-bottom: 60px;
    background: rgb(143, 140, 140);
    color: white;
}
h1 {
    font-size: 20em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:rgb(250, 247, 241);
}
.prod-images {
    text-align: center;
    transform-origin: center center;
    object-fit: cover;
    height: 25%;
    width: 25%;
    padding: 2px;
    margin: 15px;
    transition: ease-in 1s;
    filter: brightness(100%);
}
.title-images{
    text-align: center;
    transform-origin: center center;
    object-fit: cover;
    height: 20%;
    width: 20%;
    padding: 2px;
    margin: 2px;
    transition: ease-in 1s;
    filter: brightness(100%);
    font-style: italic;
    font-size: larger;
}